@using WebSiteBanHang.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<ChiTietPhieuNhap>

@{
    ViewBag.Title = "XemChiTietDonHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@{
    ThanhVienTB check = Session["TaiKhoan"] as ThanhVienTB;
    int mapn = int.Parse(ViewBag.MaPN.ToString());
}
<!-- /inner_content_w3_agile_info-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="main-page.html">Home</a><span>«</span></li>

            <li>Chi tiết phiếu nhập</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Chi tiết mã phiếu nhập: @mapn</h2>
    <!-- tables -->

    <div class="agile-tables">
        <div class="w3l-table-info agile_info_shadow">
            <h3 class="w3_inner_tittle two">Thống kê</h3>
            <table id="table">
                <thead>
                    <tr>
                        <th>Mã chi tiết phiếu nhập</th>
                        <th>Mã phiếu nhập(không được thay đổi)</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá nhập</th>
                        <th>Số lượng hàng</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach (var item in Model)
                        {
                            
                            <tr>
                               
                                <td>@item.MaChiTietPN</td>
                                <td>@item.MaPN</td>
                                 
                                <td>@Html.DisplayFor(model=>item.SanPham.TenSP)</td>
                                <td>@item.DonGiaNhap</td>
                                <td>@item.SoLuongNhap</td>
                                
                                @if (item.DaXoa == false)
                                {
                                    <td>Đã kích hoạt</td>
                                }
                                else
                                {
                                    <td>Vô hiệu hóa</td>
                                }
                            <td>
                                @if (check.MaLoaiTV == 1)
                                {
                                    <a title="Xoá vĩnh viễn" onclick="Xoa(event)" href="@Url.Action("XoaCT","QuanLyPhieuNhap",new { @MaCT=item.MaChiTietPN})" class="btn btn-info btn-flat btn-pri btn-sm fa fa-remove" style="background-color:orangered">

                                    </a>
                                }
                                @if (item.DaXoa == false)
                                {
                                    <a title="Vô hiệu hóa" href="@Url.Action("VoHieuHoaCT", "QuanLyPhieuNhap", new { @MaCT = item.MaChiTietPN })" class="btn btn-info btn-flat btn-pri btn-sm fa fa-unlock">

                                    </a>
                                }
                                else
                                {
                                    <a title="Kích hoạt" href="@Url.Action("kichHoatCT", "QuanLyPhieuNhap", new { @MaCT = item.MaChiTietPN })" class="btn btn-info btn-flat btn-pri btn-sm fa fa-lock">

                                    </a>
                                }
                                <a title="Chỉnh sửa thông tin " href="@Url.Action("CapNhatCT", "QuanLyPhieuNhap", new { @MaCT = item.MaChiTietPN })" class="btn btn-info btn-flat btn-pri btn-sm fa fa-edit">

                                </a>

                            </td>

                            </tr>
                        }
                    
                </tbody>
            </table>


        </div>

    </div>

    <div class="pagination col-md-9" style="float:right">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("XemChiTietPhieuNhap", new { page = page,@MaPN=mapn }))
    </div>
    <div class="clearfix"></div>
</div>
<!-- //inner_content_w3_agile_info-->
<script type="text/javascript">
    var dem = 0;
    function Xoa(event) {
        if (confirm('Bạn chắc chắn xóa sản phẩm?') == false) {
            event.preventDefault();
            event.stopPropagation();
        }

    }
</script>


